<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block htmltitle %}
  <title>{{  page_title | escape | markdown }}</title>
  {% endblock %}

  <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700|Inconsolata:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{ base_url }}/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="{{ base_url }}/css/vs.css" type="text/css" />
  <link rel="stylesheet" href="{{ base_url }}/css/lightbox.css" type="text/css" />
  {%- for path in extra_css %}
  <link href="{{ path }}" rel="stylesheet">
  {%- endfor %}

  <script src="{{ base_url }}/js/jquery.min.js"></script>
  <script src="{{ base_url }}/js/jquery.cookie.js"></script>
  <script src="{{ base_url }}/js/modernizr.min.js"></script>
  <script src="{{ base_url }}/js/theme.js"></script>
  <script src="{{ base_url }}/js/highlight.pack.js"></script>
  {% block extrahead %} {% endblock %}
  <script>
  hljs.initHighlightingOnLoad();
  </script>

  {%- for path in extra_javascript %}
  <script src="{{ path }}"></script>
  {%- endfor %}

  <style>
    body {font-size: 90%;}
    pre, code {font-size: 100%;}
  </style>
</head>

<body>
{{ content }}
</body>
</html>
